 body{
    overflow:x;
}

img{
    margin:0px auto;
}

h1{
    font-size:52px;
    text-transform: uppercase;
}
h4{
    color:#fff; 
    font-size: 18px;
    text-transform: uppercase;
}
h6{
    font-size: 20px;
}
p{
    font-size: 16px;
}
a{
    font-size:18px;
}
a:hover{
    text-decoration: none;
}

.navbar-default {
    background-color:#fa5e74;
}
.navbar-collapse {
    padding-right: 95px;
}
.navbar-default .navbar-nav>li>a {
    color:#fff;
}
.navbar {
    border-radius:0px;
    margin-bottom: 0px;
}
.navbar-nav>li {
    margin-right: 30px;
}
.navbar-right {
    float: right!important;
    margin-right: 108px;
}
    nav{
        padding:25px 0px;    
    }
    h2{
        font-size:32px;
        font-weight:bold;
        margin-bottom: 14px;
        }
.reg-btn {
    margin:-3px;
    color: #fff;
    background-color: #3e3e3e;
    border: 0px;
    padding: 5px 10px;
}
/*try here bg-img*/
/*.wellcome-area, .slider-area, .single-slide, .slider-area-table{
    height:100%;
}


.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px
    border: 1px solid transparent;
}
*/
.slider-area {
    padding-bottom: 100px;
}
.slider-area-table{
    display:table;
    width:100%;
}
.slider-area-tablecell{
    display:table-cell;
    vertical-align: middle;
}
.single-slide{
    position: relative;
    padding:138px 0px;
}
.overlay{
    background: url(E-Learning_Home.png) no-repeat scroll 0 0;
    background-size: cover;
    content:"";
    left:0;
    top:0;
    position: absolute;
    height:100%;
    width:100%;
}
.overlay:after{
    content:"";
    left:0;
    top:0;
    position: absolute;
    height:100%;
    width:100%;
}
.search-area-overlay{
    position:relative;
    padding:40px;
}
.overlay-img{
    background: url(search.png) no-repeat scroll 0 0;
    background-size: cover;
    content:"";
    left:0;
    top:0;
    position: absolute;
    height:100%;
    width:100%;
}
.overlay-img:after{
    content:"";
    left:0;
    top:0;
    position: absolute;
    height:100%;
    width:100%;
}






.slider-area-table{
    display:table;
    width:100%;
}
.slider-area-tablecell{
    display:table-cell;
    vertical-align: middle;
}
option{
    color:#000;
}

/* end here bg img*/
    .bg-p{
     margin-bottom: 42px;   
    }
    .border-btn{
        padding:20px 35px;
        background-color:#fa5e74;
        color:#fff;
    }
/*
    .search-area{
        background-image: url(search.png);
        background-size: cover;
        height:410px;
        width:100%;
*/
    }
    .inner i{
        font-size: 31px;
        background-color: #fa5e74;
        padding: 10px 70px;
        margin-left: 30px;
        border: 9px solid #fa5e74;
        padding-bottom: 23px;
        vertical-align: middle;
    }
    .search-area-inner{
        padding:45px;
    }
    .section-title{
        padding-bottom:80px;
        color:#fff;
        text-transform: uppercase;
        position:relative;
    }
.section-title:after{
     position: absolute;
    width: 200px;
    height: 2px;
    bottom: 58px;
    margin-left: -100px;
    background-color:#fa5e74;
    content:"";
}
.form-control {
    border-radius:0px;
    padding:38px 35px;
    margin-right:30px;
    display:inline-block;
    color:#000;
}
select{
   max-width:172px;   
}
.select-course{
   border-radius:0px;
    padding:28px 67px;
    margin-right:30px;
    display:inline-block;
    color:#000;
    }
.fa-search{
font-size:40px;
}
.btn{
    padding:17px 67px;
    border-radius:0px;
    background-color:#fa5e74;
    cursor: pointer;
    color:#fff;
}
.btn:hover{
    background-color: #fa5e74;
    color:#fff;
    border:#fa5e74;
}
.btn-default {
    border-color:#fa5e74;
}
input{
    max-width:466px;
}

    .section-area{
        padding:100px 0px 110px 0px;
        text-transform: uppercase;
    }
    .section-area:after{
         position: absolute;
        width: 100px;
        height: 2px;
        bottom: 90px;
        margin-left: -50px;
        background-color:#fa5e74;;
        content:"";
}
    .featured-section-area{
        margin-bottom:60px;
    }
    .feature-section-single-area{
      height:420px;
      border:1px solid #fff;
        }
    .feature-section-single-area i{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .featured-area-bg-1{
        height:240px;
        background-color:#454553;
        padding-top:90px;

    }
    .featured-area-bg-2{
        height:240px;
        background-color:#4aa0d5;
        padding-top:90px;

    }
    .featured-area-bg-3{
        height:240px;
        background-color:#d8e9f0;
        padding-top:90px;

    }
    .featured-area-bg-4{
        height:240px;
        background-color:#eb586f;
        padding-top:90px;

    }
    .featured-section-second-area{
        margin-bottom: 75px;
    }
    .featured-section-full-area{
      background-color: #f7f7f7;
        padding-bottom: 80px;
    }
    .featured-area-content{
        background-color: #fff;
        padding:42px 0px;
    }
    .featured-area-content span{
        color:#eb586f;
        margin-top: 10px;
    }
    .font-icon{
        padding-top:50px;
    }

    .featured-section-each-area {
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      transition: all 0.8s ease-out;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .featured-section-area-hover:hover{
      box-shadow:10px 17.321px 57px 80px rgba(0, 0, 0, 0.08) ;
      -moz-box-shadow: 10px 17.321px 57px 80px rgba(0, 0, 0, 0.08) ;
      -webkit-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
      -o-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
    }
    /* nees some css for hover----------*/

    .all-course-btn{
       margin:75px 0px;
    }
 .border-btn-2{
        padding:16px 25px;
        background-color:#fa5e74;
        color:#fff;
    }
    /*gap*/
    hr.gap {
      width:100%;
        height:1px;
        background: #626262;
        border: none;
        outline: 0!important;
        margin: 100px 0px;
    }
  /*.bg-color {
     background-color:#f7f7f7;
}*/
    /*start top-rated-teacher-area
    ============================*/

    .top-rated-teacher-area{
    background-color:#f7f7f7;
        padding-bottom: 100px;
        position:relative;
    }
    .first-area{
        margin-bottom:25px;
    }
    .teacher-details{
        border:2px solid #fff;
    }
    .inner-area{
        background-color: #fff;
    }
    .hover-teacher:hover{
    box-shadow:10px 17.321px 57px 80px rgba(0, 0, 0, 0.08) ;
     -moz-box-shadow: 10px 17.321px 57px 80px rgba(0, 0, 0, 0.08);
      -webkit-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
      -o-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
    }
    .last-item{
        padding:185px 87px;
    }
    /*end top-rated-teacher-area
    ===========================*/

    /*start member-facility-area
    =========================*/
    .membership-facility-area{
       background-color:#f7f7f7;
      padding-bottom: 100px;
    }
    .first-membership-facility{
        margin-bottom: 50px;
    }
    .inner-area-membership i{
        font-size: 70px;
        border-radius: 50%;
        background-color: #fff;
        padding: 4px 18px;
        display:inline-block;
    }
    .membership-details{
        color:#3e3e3e;
    }
    .membership-details h6{
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 28px;
    }
    /* end membership-area====
    ===================*/
    .sign-up-area{
    background-image: url(E-Learningsign-up.png);
    background-size: cover;
    color:#fefefe;
    }
    .sign-up-overlay{
    background: rgba(0,0,0,0.8);
    padding:100px 0px;

    }
    .sign-up-btn{
        padding:18px 40px;
        background-color:#fa5e74;
        color:#fefefe;
        font-size:20px;
    }
    .sign-up-details p{
        margin-bottom: 50px;
    }
    /* end sign up area  */
    .our-upcoming-course-area{
        background-color: ##f7f7f7;
        padding-bottom:100px;
    }
    .footer-top-area{
        background-image: url(footer-bg.png);
        background-size: cover;
        padding:80px 0px;
    }
    .our-details h6{
        color:#fff;
    }
    .our-details ul{
        display:inline;
    }
        .our-details ul li{
        list-style:none;
            font-weight: 300;
    }
    .our-details ul li a{
        display:inline-block;
        color:#fff;
        padding-bottom:30px;
        font-size:14px;
        font-weight:300;
    }
    .footer-bottom-area{
        padding:35px 0px;
        background-color: #181818;
    }
    .our-details p{
    color:#fff;
    }
    .footer-bottom-area p{
        color:#fff;
    }
.after{
    position:relative;
}

.after:before{
    position: absolute;
    top:0px;
    left:0;
    width:100%;
    height:1px;
    background-color:#dadada;
    content:"";
    }



